DB_USER=postgres
DB_NAME=next14-teslo-shop
DB_PASSWORD=123456

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://postgres:123456@localhost:5432/next14-teslo-shop?schema=public"
AUTH_SECRET=auth-key
AUTH_GOOGLE_ID="google-id"
AUTH_GOOGLE_SECRET="google-secret"
NEXTAUTH_URL=http://localhost:3000
AUTH_TRUST_HOST=true

# PayPal: https://developer.paypal.com/dashboard/applications/sandbox
# ADMIN: alvacalderonadmin@gmail.com CLIENT: alvacalderonclient@gmail.com
NEXT_PUBLIC_PAYPAL_CLIENT_ID=paypal-client-id
PAYPAL_SECRET=paypal-secret
# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# Cloudinary https://console.cloudinary.com
CLOUDINARY_URL="cloudinary://api-key:api-secret@cloud-name"
CLOUDINARY_FOLDER_MAIN=next14-teslo-shop